.card {
    height: 550px;
    padding: 10px;

}
.u-section-3 {
    background-image: url("/assets/images/1.jfif");
    background-repeat: no-repeat;
    background-size: cover;
  }

.u-section-1 {
    background-image: url("/assets/images/main-pic-8-1168x657.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
}
  