<section class=" u-section-1 text-center pt-5" src="">
    <div>
        <img src="/assets/images/glam.png" width="900" height="500" class="pt-5">
        
    </div>
</section>

<section >
    <div class="container">
        <div class="row">
            <div class="col col-sm-5 m-5 text-center pt-5">
                <h2 class="m-2">Glam Make Up Set and Lipstick</h2>
                      <p class="pt-3 m-2">The inexplicable bond between women and their lipstick goes way back to ancient civilizations. Lipstick is the mood-lifter that glams you up instantly. It is undeniably the most powerful cosmetic tool on your dresser. While selecting a lipstick, we all look at three factors.&nbsp;</p>
            </div>
            <div class="col-sm py-3 ">
                <img src="/assets/images/p9.jpg" alt="" class="img-fluid ">
            </div>
        </div>
        </div>
</section>

<section >
<div class="u-section-3 px-3 py-5">
    <div class="row py-1 " >
        <div class="col-sm-4">
          <div class="card" >
            <div class="card-body" style="display: block; text-align: center;">
                <img class="img" height="200" width="300" src="/assets/images/13.jpg" ><!--/product_image-->
                <h3 class=" card-title u-text-custom-color-1 p-1 text-center">Glam Lipstick</h3>
                <h5 class="card-text text-sm-center">The inexplicable bond between women and their lipstick goes way back to ancient civilizations. Lipstick is the mood-lifter that glams you up instantly. It is undeniably the most powerful cosmetic tool on your dresser. While selecting a lipstick, we all look at three factors.&nbsp;</h5>
              
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card ">
            <div class="card-body" style="display: block; text-align: center;">
                <img alt="" class="img" height="200" width="300" src="/assets/images/images9.jfif" ><!--/product_image-->
                <h3 class=" card-title u-text-custom-color-1 p-1 text-center">Glam LipGloss</h3>
                <h5 class="text-sm-center ">A unique lip Luminizer infused with lip-loving actives like jojoba oil and vitamin E plus lip plumping niacinamide.</h5>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
            <div class="card">
              <div class="card-body" style="display: block; text-align: center;">
                <img alt="" class="img" height="200" width="300" src="/assets/images/p2.jfif" data-image-width="259" data-image-height="194"><!--/product_image-->
                <h3 class="card-title u-text-custom-color-1 p-1 text-center">Glam Make Up</h3>
                <h5 class="text-sm-center">Treat yourself to this secret to deep hydration—from the surface to inner layers—to replenish, store and lock in moisture for soft and supple, beautiful skin.</h5>
              </div>
            </div>
          </div>
      </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col col-sm-5 m-5 text-center pt-5">
                <h2 class="m-2">Glam Cream and Cleansing Products</h2>
                  <p class="pt-2 m-2">The inexplicable bond between women and their lipstick goes way back to ancient civilizations. Lipstick is the mood-lifter that glams you up instantly. It is undeniably the most powerful cosmetic tool on your dresser. While selecting a lipstick, we all look at three factors.&nbsp;elit nullam nunc justo sagittis suscipit ultrices.</p>

            </div>

            <div class="col-sm py-3 ">
                <img src="/assets/images/11.jpg" alt="" class="img-fluid ">
            </div>
        </div>
    </div>
</section>

<section >
    <div class="u-section-3 px-3 py-5">
        <div class="row py-1 " >
            <div class="col-sm-4">
              <div class="card" >
                <div class="card-body" style="display: block; text-align: center;">
                    <img class="img" height="200" width="300" src="/assets/images/Untitled-3.png" ><!--/product_image-->
                    <h3 class=" card-title u-text-custom-color-1 p-1 text-center">Glam Sleeping Cream</h3>
                    <h5 class="card-text text-sm-center pt-4">he Light Perfecting Essence feels like skin care and a glowing primer in one as it delivers an instant glow, thanks to the fine iridescent shimmers in the essence. It contains&nbsp;<a href="http://www.projectvanity.com/projectvanity/niacinamide-the-skincare-do-it-all-ingredient" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1">niacinamide</a> which reduces blemishes and improves skin texture.&nbsp;</h5>
                  
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card ">
                <div class="card-body" style="display: block; text-align: center;">
                    <img alt="" class="img" height="200" width="300" src="/assets/images/6.png" ><!--/product_image-->
                    <h3 class=" card-title u-text-custom-color-1 p-1 text-center">Glam Rejuvenating Cream</h3>
                    <h5 class="text-sm-center pt-4">The inexplicable bond between women and their lipstick goes way back to ancient civilizations. Lipstick is the mood-lifter that glams you up instantly. It is undeniably the most powerful cosmetic tool on your dresser. While selecting a lipstick, we all look at three factors.&nbsp;</h5>
                </div>
              </div>
            </div>
            <div class="col-sm-4 ">
                <div class="card">
                  <div class="card-body" style="display: block; text-align: center;">
                    <img alt="" class="img" height="200" width="300" src="/assets/images/itona.png" data-image-width="259" data-image-height="194"><!--/product_image-->
                    <h3 class="card-title u-text-custom-color-1 p-1  text-center">Glam Beauty Lotion</h3>
                    <h5 class="text-sm-center pt-4 ">The inexplicable bond between women and their lipstick goes way back to ancient civilizations. Lipstick is the mood-lifter that glams you up instantly. It is undeniably the most powerful cosmetic tool on your dresser. While selecting a lipstick, we all look at three factors.&nbsp;</h5>
                  </div>
                </div>
              </div>
          </div>
        </div>
    </section>



