<footer class="footer footer-md-4 bg-white text-center text-lg-start fixed">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a><br>
      <i-bs name="facebook" class="text-primary px-3"></i-bs>
      <i-bs name="twitter" class="text-info"></i-bs>
      <i-bs name="instagram" class="text-danger px-3"></i-bs>
      <i-bs name="google" class="text-warning"></i-bs>
    </div>
   
    <!-- Copyright -->
  </footer>