<nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <a class="navbar-brand m-1" href="#">
        <img src="/assets/images/121180120_2794308887516387_1365271353233987934_n1.png" width="150" height="130" class="d-inline-block align-top mx-3" alt="" >
        <p class="d-inline-block h3 u-text-custom-color-1 pt-4 px-4
         " style="font-family: san serif; font-style: italic; font-weight: bold;">Glam&nbsp;&nbsp; Essentials <br>&nbsp; and&nbsp; Cosmetics</p>
      </a>

    <button 
    class="navbar-toggler navbar-md-4 mx-4" 
    type="button" 
    data-toggle="collapse" 
    data-target="#navbarSupportedContent15"
    aria-controls="navbarSupportedContent15" 
    aria-expanded="false" 
    aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

      <div class="collapse navbar-collapse h4 justify-content-end px-5" id="navbarSupportedContent15">
        <ul class="navbar-nav ">
          <li class="nav-item active ">
            <a class="nav-link text-dark" href="#home" style="padding: 20px 12px;"> Home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" routerLink="/contact" style="padding: 20px 12px;">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" routerLink="/about" style="padding: 20px 12px;">Where to Buy</a>
          </li>
          
          <li class="nav-item ">
            <a class="nav-link text-dark" routerLink="/gallery"  style="padding: 20px 12px;">Gallery</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link text-dark" href="#home" style="padding: 20px 12px;">Sign up
            </a>
        </li>
        </ul>
      </div>
    
       
  </nav>
 