<section 
class=" u-image u-lightbox u-section-1 " 
 id="home"
 >
    <div class=" text-center u-clearfix u-sheet ">
        <h1 class=" text-center mt-5 my-2  u-custom-font u-text u-text-custom-color-1 u-title u-text-1" data-animation-name="fadeIn" 
        data-animation-duration="1000" 
        data-animation-delay="0" 
        data-animation-direction="">
        Be Natural, Be You <br> Don't Panic, It's Organic
        </h1>
        <h5 class=" text-center  u-text text-danger u-text-2">
            Available Now! Nationwide
        </h5>
        <div class="d-flex justify-content-center mt-5 col-md-6">
            <button class="btn btn-outline-success">
                <h2 class="u-title">Shop Now !!</h2>
                </button>
        </div>
        
    </div>
</section>

<section 
    class="u-clearfix u-image u-shading u-section-2" 
    id="sec-991f py-5" 
    >

    <div class="container py-4">
        <div class="row gx-5">
          <div class="col">
           <div >
            <h2 class="u-align-left u-custom-font u-font-roboto-slab u-text u-text-palette-4-base u-text-1">Why&nbsp; Our​ &nbsp;Customer&nbsp; Chooses&nbsp; US..   
                <p class="text-light py-3 u-text-palette-5-light-1">&nbsp; &nbsp; &nbsp; Natural beauty brands are on the rise with more and more people ditching products within comprehensible ingredient lists in favor of brands that are more legible, natural and healthy-sounding.&nbsp;

                </p>
            </h2>
           </div>
          </div>
          <div class="col">
            <div class="p-5 ">
                <img 
                src="/assets/images/images61.jfif" 
                class="u-image  u-image-2"
                alt="" >
            </div>
          </div>
        </div>
      </div>


       
  </section>